<template>
<div id="nav"> 
 <router-link to="/test">Пример 1</router-link>
 <br>
    <router-link to="/test2">Пример 2</router-link>
    <br>
        <router-link to="/test3">Пример 3</router-link>
        <br>
        <router-link to="/test4">Пример 4</router-link>
        <br>
        <router-link to="/test5">Пример 5</router-link>
        <br>
         <router-link to="/test6">Пример 6</router-link>
</div>
<router-view/>
</template>

<script>

//  import Test from './components/Test.vue'

export default {
  name: 'App',
  components: {
  
    // Test
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
